.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ReactGridGallery,.ant-layout,body {
  background-color:#001529;
}

.options {
  background-color:#001529;
  color:white;
  position: fixed;
  width: 100%;
  height:36px;
  font-size: 16px;
  z-index: 100;
  padding:4px;
}

.options .ant-btn {
  height:26px;
  margin-top:2px;
  padding-top:0px;
}

.gallery {
  background-color:#001529;
}

.ant-tree {
  font-size:12px;
}

.ant-layout-sider-children {
  position:fixed;
}

body {
  background-color:#001529;
}

.logo {
  padding-left:10px;
  color:white;
  text-transform: uppercase;
}

.logo a {
  color:white !important;
}

.ant-picker-calendar-full .ant-picker-panel .ant-picker-calendar-date-content {
  height:22px;
}

.ant-picker-calendar-full .ant-picker-panel .ant-picker-cell .ant-picker-calendar-date-content {
  height:35px;
}

.ant-picker-calendar-full .ant-picker-panel .ant-picker-cell .ant-picker-calendar-date {
  padding: 4px 2px 0;
}

.ant-badge .ant-badge-multiple-words {
  padding: 0px 4px;
}

.ant-badge-count {
  line-height: 18px;
}

.ant-badge-multiple-words {
  padding: 0px 4px;
}

.header-calendar {
  text-align:center;
}

.header-calendar > span {
  padding-left:10px;
  padding-right:10px;
}

.upload-list img {
  margin: 10px;
  border: solid 1px;
  width:100px;
}

.upload-list {
  height:300px;
  overflow:auto;
}

.upload-list-video {
  font-size:16px;
  padding-left:20px;
}

.upload-list-video img {
  margin: 10px;
  border: solid 1px;
  width:200px;
}

.video {
  margin-top:20px;
}

currentVideo.VideosPath {
  margin-left:10px;
}

.video-gallery .video img{
  width:300px;
  height:200px;
  border:solid 2px white;
  border-radius: 10px;
}

.video-gallery .title {
  font-weight: bold;
  width:120px;
}

.video-gallery {
  background-color:#001529;
}

.video-gallery .video .play:hover {
  color:orange;
}
.video-gallery .video .play{
  position: absolute;
  color:white;
  cursor: pointer;
  font-size: 40px;
  left:130px;
  top:80px;
}

.modal-player .ant-modal-close {
  color: white;
}

/* Define width of video */
@media screen and (max-width: 1000px) and (orientation: portrait){
  .modal-player.ant-modal {
    width:95vw;
  }
}
@media screen and (min-width: 1000px) or (orientation: landscape){
  .modal-player.ant-modal {
    width:65vw;
  }
}

.modal-player .ant-modal-content {
  background-color:rgba(0,0,0,0);
  border:solid 1px darkgray;
  height:100%;
}

.modal-player .ant-modal-footer {
  display: none;
}

.upload-photos-modal .ant-modal-body {
  padding:5px;
}

.add-folder-text {
  color: white;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.switch-selection.ant-switch {
  background-color: darkgreen;
}

.switch-selection.ant-switch-checked {
  background-color: #1890ff;
}

.button {
  padding:4px;
  background-color: #003dd5;
  border-radius:2px;
  cursor:pointer;
}

.button:hover {
  background-color: #a2cdff;
  color:#0034ad;
}

#lightboxBackdrop {
  z-index:100;
}

.modal-zoom .ant-modal-footer {
  display:none;
}

.modal-zoom .ant-modal-body {
  padding:4px;
  /*background-color: #00163e;*/
  background-color: black;
  z-index:10000000;
}

.modal-zoom .ant-modal-body > div{
  margin:auto;
}

.modal-zoom > .ant-modal {
  height:500px;
}

.modal-zoom > .ant-modal img {
  max-height:calc(100vh - 30px);
  max-width:100%;
}

.container {
  max-width: 500px;
}